{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>ID:</td>
            <td>{{ session['userid'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ session['username'] }}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ session['name'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ session['email'] }}</td>
        </tr>
    </table>
</div>
<h2> Up Comming Bookings</h2>
<div>
    <table>
        <tr>
            <td>Booking Date</td>
            <td>{{ session['userid'] }}</td>
        </tr>
        <tr>
            <td>Booking </td>
            <td>{{ session['username'] }}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ session['name'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ session['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}